*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}
body{
	background: url(../img/banner.jpg);
	background-size: cover;
}
/*header nav links*/
.parent-nav{
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
/*container for logo and links*/
.left, .right{
	display: flex;
	align-items: center;
	margin: 0 40px;
}
/*makins links inline*/
.links-left li{
	display: inline-block;
	color: red;
}
.links-left li a{
	margin-left: 30px;
}
.links-right li a{
	margin-right: 30px;
}
.links-left li a, .links-right li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.fas{
	color: white;
}
/*logo inline*/
.logo{
	display: inline-block;
}
.left{
	margin-left: 30px;
}
.left h1{
	font-size: 25px;
	font-family: 'Inter', sans-serif;
	font-weight: 800;
	color: white;
}
.links-right li {
	display: inline-block;
}